@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --text: #050316;
  --background: #ffffff;
  --primary: #06c8f4;
  --secondary: #dddbff;
  --accent: #443dff;
}
.col_text{
  color: var(--text);
}
.col_background{
  color: var(--background);
}.col_primary{
  color: var(--primary);
}.col_secondary{
  color: var(--secondary);
}
.col_accent{
  color: var(--accent);
}
.bg_text{
  background-color: var(--text);
}
.bg_Background{
  background-color: var(--background);
}
.bg_Primary{
  background-color: var(--primary);
}
.bg_secondary{
  background-color: var(--secondary);
}
.bg_accent{
  background-color: var(--accent);
}
body {
  font-family: Inter, sans-serif;
  color: var(--text);
  background-color: var(--background);

}
