@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #050316;
  --background: #ffffff;
  --primary: #06c8f4;
  --secondary: #dddbff;
  --accent: #443dff;
}

.col_text { color: var(--text); }
.col_background { background-color: var(--background); }
.col_primary { color: var(--primary); }
.col_secondary { color: var(--secondary); }
.col_accent { color: var(--accent); }

.bg_text { background-color: var(--text); }
.bg_background { background-color: var(--background); }
.bg_primary { background-color: var(--primary); }
.bg_secondary { background-color: var(--secondary); }
.bg_accent { background-color: var(--accent); }

body {
  font-family: Inter, sans-serif;
  color: var(--text);
  background-color: var(--background);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --border: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
  }
  
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
  
  * {
    @apply border-border outline-ring/50;
  }
  
  body {
    @apply bg-background text-foreground;
  }
}
