@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --text: #050316;
  --background: #ffffff;
  --primary: #06c8f4;
  --secondary: #dddbff;
  --accent: #443dff;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text);
  background-color: var(--background);
}
